version: '2'
services:
  etherpad:
    image: felix/etherpad-lite:1.6.1
    build: .
    ports:
      - 127.0.0.1:9001:9001
    volumes:
      - ./settings.json:/home/app/etherpad-lite/settings.json:ro
    restart: always
  postgres:
    image: postgres
    volumes:
      - ./postgres_init/1_create.sql:/docker-entrypoint-initdb.d/1_create.sql
      - ./postgres_data/:/var/lib/postgresql/data
    restart: always
